.grid {
    text-align: center;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 100px;
}



img {
    width: 100%;
    height: auto;
    padding: 2px;
    border-radius: 10px; 
}